{% extends 'base.html' %}

{% block title %}
Blogs & Events | NIMBLE PRECISE
{% endblock %}

{% block content %}
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="header-text">
            <h2 style="color: #fce240;font-size: 2.5rem;">Blogs & Events</h2>
            <p style="font-size: 1rem; color: #6ad3ff;">
              Home <i class="fa-solid fa-angles-right"></i> Blogs & Events
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section events" id="events">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Schedule</h6>
            <h2>Upcoming Abacus Events</h2>
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-3">
                <div class="image">
                  <img src="static/images/event-01.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-9">
                <ul>
                  <li>
                    <span class="category">Abacus Basics</span>
                    <h4>Introduction to Abacus</h4>
                  </li>
                  <li>
                    <span>Date:</span>
                    <h6>16 Feb 2036</h6>
                  </li>
                  <li>
                    <span>Duration:</span>
                    <h6>6 Hours</h6>
                  </li>
                  <li>
                    <span>Price:</span>
                    <h6>$50</h6>
                  </li>
                </ul>
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-3">
                <div class="image">
                  <img src="static/images/event-02.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-9">
                <ul>
                  <li>
                    <span class="category">Intermediate Level</span>
                    <h4>Mastering Mental Math</h4>
                  </li>
                  <li>
                    <span>Date:</span>
                    <h6>24 Feb 2036</h6>
                  </li>
                  <li>
                    <span>Duration:</span>
                    <h6>8 Hours</h6>
                  </li>
                  <li>
                    <span>Price:</span>
                    <h6>$80</h6>
                  </li>
                </ul>
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-3">
                <div class="image">
                  <img src="static/images/event-03.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-9">
                <ul>
                  <li>
                    <span class="category">Advanced Techniques</span>
                    <h4>Speed Calculation Workshop</h4>
                  </li>
                  <li>
                    <span>Date:</span>
                    <h6>12 Mar 2036</h6>
                  </li>
                  <li>
                    <span>Duration:</span>
                    <h6>12 Hours</h6>
                  </li>
                  <li>
                    <span>Price:</span>
                    <h6>$100</h6>
                  </li>
                </ul>
                <a href="#"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
