{% extends 'base.html' %}

{% block title %}
  Courses | NIMBLE PRECISE
{% endblock %}

{% block content %}
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="header-text">
            <h2 style="color: #fce240;font-size: 2.5rem;">Courses</h2>
            <p style="font-size: 1rem; color: #6ad3ff;">
              Home <i class="fa-solid fa-angles-right"></i> Courses
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6 data-aos="fade-right">Courses</h6>
            <h2 data-aos="fade-right">ENHANCE YOUR SKILLS</h2>
          </div>
        </div>
      </div>
      <ul class="event_filter" data-aos="fade-right">
        {% comment %} <li><a class="is_active" href="#allcourses" data-filter="*">ALL COURSES</a></li> {% endcomment %}
        <li><a href="#!" data-filter=".abacus">ABACUS</a></li>
        <li><a href="#!" data-filter=".vedicmaths">VEDIC MATHS</a></li>
        <li><a href="#!" data-filter=".rubikscube">RUBIK'S CUBE</a></li>
        <li><a href="#!" data-filter=".techworld">TECH WORLD</a></li>
      </ul>
      <div class="row event_box">
        <div class="col-lg-3 col-md-6 mb-30 event_outer abacus">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="abacus"><img src="https://images.pexels.com/photos/1019470/abacus-mathematics-addition-subtraction-1019470.jpeg" alt="" /></a>
              <span class="category">ABACUS</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">Emma Johnson</span> {% endcomment %}
              {% comment %} <h4>ABACUS</h4> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30 event_outer vedicmaths">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="vedicmaths"><img src="https://images.pexels.com/photos/6256258/pexels-photo-6256258.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">VEDIC MATHS</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">Michael Brown</span> {% endcomment %}
              {% comment %} <h4>VEDIC MATHS</h4> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30 event_outer rubikscube">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="rubikscube"><img src="https://images.pexels.com/photos/6254929/pexels-photo-6254929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">RUBIK'S CUBE</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">Sophia Lee</span> {% endcomment %}
              {% comment %} <h4>RUBIK'S CUBE</h4> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30 event_outer techworld">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="techworld"><img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">TECH WORLD</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">John Doe</span> {% endcomment %}
              {% comment %} <h4>TECH WORLD</h4> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
