{% extends 'base.html' %}

{% block title %}
  Home | NIMBLE PRECISE
{% endblock %}

{% block content %}
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner" data-aos="fade-left">
            <div class="item item-1">
              <div class="header-text">
                <span class="category" data-aos="fade-right">Abacus Learning</span>
                <h2 data-aos="fade-left">Master Arithmetic with Abacus Techniques</h2>
                <p data-aos="fade-right">Unlock your child's potential with our expert-designed Abacus courses. Enhance calculation speed, accuracy, and concentration.</p>
                <div class="buttons">
                  <div class="main-button" data-aos="fade-left">
                    <a href="#">Enroll Now</a>
                  </div>
                  <div class="icon-button" data-aos="fade-right">
                    <a href="#"><i class="fa fa-play"></i> How Abacus Works?</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <span class="category" data-aos="fade-right">Mental Math</span>
                <h2 data-aos="fade-left">Boost Your Mental Calculation Skills</h2>
                <p data-aos="fade-right">Our structured Abacus program helps develop strong mental math abilities, making calculations faster and more intuitive.</p>
                <div class="buttons">
                  <div class="main-button" data-aos="fade-left">
                    <a href="#">Get Started</a>
                  </div>
                  <div class="icon-button" data-aos="fade-right">
                    <a href="#"><i class="fa fa-play"></i> Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-3">
              <div class="header-text">
                <span class="category" data-aos="fade-right">Interactive Learning</span>
                <h2 data-aos="fade-left">Engaging Online Abacus Classes</h2>
                <p data-aos="fade-right">Join our interactive sessions with expert tutors to practice and master Abacus skills from the comfort of your home.</p>
                <div class="buttons">
                  <div class="main-button" data-aos="fade-left">
                    <a href="#">Join a Free Class</a>
                  </div>
                  <div class="icon-button" data-aos="fade-right">
                    <a href="#"><i class="fa fa-play"></i> Discover More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6 data-aos="fade-right">Abacus Courses</h6>
            <h2 data-aos="fade-left">Enhance Your Abacus Skills</h2>
          </div>
        </div>
      </div>
      <ul class="event_filter" data-aos="fade-right">
        {% comment %} <li>
          <a class="is_active" href="#!" data-filter="*">All Courses</a>
        </li> {% endcomment %}
        <li>
          <a class="is_active" href="#!" data-filter=".beginner">KIDS</a>
        </li>
        <li>
          <a href="#!" data-filter=".intermediate">TEENS</a>
        </li>
        <li>
          <a href="#!" data-filter=".advanced">ADULTS</a>
        </li>
      </ul>
      <div class="row event_box">
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 beginner">
          <div class="events_item" data-aos="fade-left">
            <div class="thumb">
              <a href="#"><img src="https://images.pexels.com/photos/1019470/abacus-mathematics-addition-subtraction-1019470.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">KIDS</span>
              <span class="price"><h6><em>$</em>100</h6></span>
            </div>
            <div class="down-content">
              <span class="author">Emma Johnson</span>
              <h4>Introduction to Abacus</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 intermediate">
          <div class="events_item" data-aos="fade-left">
            <div class="thumb">
              <a href="#"><img src="https://media.istockphoto.com/id/948657976/photo/business-photos.jpg?s=612x612&w=0&k=20&c=2L6_i3gOn0nseZH-uRXG-RA8vo-EXUExuZnbhyhaaIk=" alt="" /></a>
              <span class="category">TEENS</span>
              <span class="price"><h6><em>$</em>200</h6></span>
            </div>
            <div class="down-content">
              <span class="author">Michael Brown</span>
              <h4>Abacus Mental Math Techniques</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 advanced">
          <div class="events_item" data-aos="fade-left">
            <div class="thumb">
              <a href="#"><img src="https://img.freepik.com/premium-photo/business-colorful-counting-bead-abacus_62754-569.jpg" alt="" /></a>
              <span class="category">ADULTS</span>
              <span class="price"><h6><em>$</em>300</h6></span>
            </div>
            <div class="down-content">
              <span class="author">Sophia Lee</span>
              <h4>Mastering Abacus Calculations</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 beginner">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://png.pngtree.com/background/20230425/original/pngtree-the-abacus-is-in-a-dark-closet-picture-image_2469061.jpg" alt="" /></a>
              <span class="category">KIDS</span>
              <span class="price"><h6><em>$</em>150</h6></span>
            </div>
            <div class="down-content">
              <span class="author">David Smith</span>
              <h4>Fundamentals of Abacus</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 intermediate">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://picjumbo.com/wp-content/uploads/childrens-wooden-abacus.jpg" alt="" /></a>
              <span class="category">TEENS</span>
              <span class="price"><h6><em>$</em>250</h6></span>
            </div>
            <div class="down-content">
              <span class="author">Olivia Wilson</span>
              <h4>Speed Calculation with Abacus</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 advanced">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://previews.123rf.com/images/choneschones/choneschones1706/choneschones170600017/80864811-close-up-abacus-on-white-background.jpg" alt="" /></a>
              <span class="category">ADULTS</span>
              <span class="price"><h6><em>$</em>350</h6></span>
            </div>
            <div class="down-content">
              <span class="author">Liam Martinez</span>
              <h4>Pro-Level Abacus Training</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            <div class="item" data-aos="fade-right">
              <p data-aos="fade-left">“The abacus course has transformed the way my child approaches math. Their confidence and speed have improved remarkably!”</p>
              <div class="author">
                <img src="static/images/testimonial-author.jpg" alt="" data-aos="fade-right" />
                <span class="category" data-aos="fade-left">Parent</span>
                <h4 data-aos="fade-right">Claude David</h4>
              </div>
            </div>
            <div class="item" data-aos="fade-right">
              <p data-aos="fade-left">“Learning mental arithmetic through the abacus has been a game-changer for me. It not only helps with math but also boosts focus and memory.”</p>
              <div class="author">
                <img src="static/images/testimonial-author.jpg" alt="" data-aos="fade-right" />
                <span class="category" data-aos="fade-left">Student</span>
                <h4 data-aos="fade-right">Thomas Jefferson</h4>
              </div>
            </div>
            <div class="item" data-aos="fade-right">
              <p data-aos="fade-left">“As a teacher, I highly recommend the abacus course for kids. It’s an amazing tool to build a strong foundation in mathematics.”</p>
              <div class="author">
                <img src="static/images/testimonial-author.jpg" alt="" data-aos="fade-right" />
                <span class="category" data-aos="fade-left">Teacher</span>
                <h4 data-aos="fade-right">Stella Blair</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6 data-aos="fade-right">TESTIMONIALS</h6>
            <h2 data-aos="fade-left">What they say about our Abacus Course?</h2>
            <p data-aos="fade-right">Discover how our abacus course is helping students enhance their mathematical skills and boost confidence with real-life success stories.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
