{% extends 'base.html' %}

{% block title %}
  Home | NIMBLE PRECISE
{% endblock %}

{% block content %}
  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner" data-aos="fade-right">
            <div class="item item-1">
              <div class="header-text">
                <span class="category" data-aos="fade-right">Abacus Learning</span>
                <h2 data-aos="fade-right">Empower Yourself. Inspire the Next Generation</h2>
                <p data-aos="fade-right">"Empowering Working Parents: Expert-led Training for Lifelong Skills"</p>
                <div class="buttons">
                  <div class="main-button" data-aos="fade-right">
                    <a href="courses">Enroll Now</a>
                  </div>
                  <div class="icon-button" data-aos="fade-right">
                    <a href="#"><i class="fa fa-play"></i> How it Works?</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <span class="category" data-aos="fade-right">Mental Math</span>
                <h2 data-aos="fade-left">Empower Yourself. Inspire the Next Generation</h2>
                <p data-aos="fade-right">"Empowering Working Parents: Expert-led Training for Lifelong Skills"</p>
                <div class="buttons">
                  <div class="main-button" data-aos="fade-left">
                    <a href="courses">Get Started</a>
                  </div>
                  <div class="icon-button" data-aos="fade-right">
                    <a href="#"><i class="fa fa-play"></i> Learn More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item item-3">
              <div class="header-text">
                <span class="category" data-aos="fade-right">Interactive Learning</span>
                <h2 data-aos="fade-left">Empower Yourself. Inspire the Next Generation</h2>
                <p data-aos="fade-right">"Empowering Working Parents: Expert-led Training for Lifelong Skills"</p>
                <div class="buttons">
                  <div class="main-button" data-aos="fade-left">
                    <a href="courses">Join a Free Class</a>
                  </div>
                  <div class="icon-button" data-aos="fade-right">
                    <a href="#"><i class="fa fa-play"></i> Discover More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6 data-aos="fade-right">Courses</h6>
            <h2 data-aos="fade-left">ENHANCE YOUR SKILLS</h2>
          </div>
        </div>
      </div>
      <ul class="event_filter" data-aos="fade-right">
        <li><a class="is_active" href="#allcourses" data-filter="*">ALL COURSES</a></li>
        <li><a href="#!" data-filter=".abacus">ABACUS</a></li>
        <li><a href="#!" data-filter=".vedicmaths">VEDIC MATHS</a></li>
        <li><a href="#!" data-filter=".rubikscube">RUBIK'S CUBE</a></li>
        <li><a href="#!" data-filter=".techworld">TECH WORLD</a></li>
      </ul>
      <div class="row event_box">
        <div class="col-lg-3 col-md-6 mb-30 event_outer abacus">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://images.pexels.com/photos/1019470/abacus-mathematics-addition-subtraction-1019470.jpeg" alt="" /></a>
              <span class="category">ABACUS</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">Emma Johnson</span> {% endcomment %}
              {% comment %} <h4>ABACUS</h4> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30 event_outer vedicmaths">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://images.pexels.com/photos/6256258/pexels-photo-6256258.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">VEDIC MATHS</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">Michael Brown</span> {% endcomment %}
              {% comment %} <h4>VEDIC MATHS</h4> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30 event_outer rubikscube">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://images.pexels.com/photos/6254929/pexels-photo-6254929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">RUBIK'S CUBE</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">Sophia Lee</span> {% endcomment %}
              {% comment %} <h4>RUBIK'S CUBE</h4> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30 event_outer techworld">
          <div class="events_item" data-aos="fade-right">
            <div class="thumb">
              <a href="#"><img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></a>
              <span class="category">TECH WORLD</span>
            </div>
            <div class="down-content">
              {% comment %} <span class="author">John Doe</span> {% endcomment %}
              {% comment %} <h4>TECH WORLD</h4> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            <div class="item" data-aos="fade-right">
              <p data-aos="fade-left">“The courses has transformed the way my child approaches math. Their confidence and speed have improved remarkably!”</p>
              <div class="author">
                <img src="static/images/testimonial-author.jpg" alt="" data-aos="fade-right" />
                <span class="category" data-aos="fade-left">Parent</span>
                <h4 data-aos="fade-right">Claude David</h4>
              </div>
            </div>
            <div class="item" data-aos="fade-right">
              <p data-aos="fade-left">“Learning mental arithmetic through the abacus has been a game-changer for me. It not only helps with math but also boosts focus and memory.”</p>
              <div class="author">
                <img src="static/images/testimonial-author.jpg" alt="" data-aos="fade-right" />
                <span class="category" data-aos="fade-left">Student</span>
                <h4 data-aos="fade-right">Thomas Jefferson</h4>
              </div>
            </div>
            <div class="item" data-aos="fade-right">
              <p data-aos="fade-left">“As a teacher, I highly recommend the abacus course for kids. It’s an amazing tool to build a strong foundation in mathematics.”</p>
              <div class="author">
                <img src="static/images/testimonial-author.jpg" alt="" data-aos="fade-right" />
                <span class="category" data-aos="fade-left">Teacher</span>
                <h4 data-aos="fade-right">Stella Blair</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6 data-aos="fade-right">TESTIMONIALS</h6>
            <h2 data-aos="fade-left">What they say about our Course?</h2>
            <p data-aos="fade-right">Discover how our course is helping students enhance their mathematical skills and boost confidence with real-life success stories.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
